$default: #2A2D34;
$old_green: #009688;
$blue: #606EDB;
$blue_hover: #4754BA;
$blue_light: rgba(96, 110, 219, 0.1);
$blue_light_hover: rgba(96, 110, 219, 0.2);
$red: #E83131;
$purple: #8131E8;
$dark: #161616;
$gray-light: #2A2D34;
$light-bg: #F5F5F5;
$light-bg_hover: rgba(42, 45, 52, 0.1);
$pink: #FF608F;
$pink_hover: #DE4774;
$yellow: #FFE48A;
$green: #5FDF8B;
