$large_desktop: 1440px;
$small_desktop: 1280px;

$large_tablet: 1024px;
$small_tablet: 768px;

$large_mobile: 580px;
$small_mobile: 460px;

$messages_large_mobile: 919px;
$sticky-order_tablet_breakpoint: 821px;

// &::max-screen($large_desktop) {

// }
