@keyframes rotate {
	100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

@keyframes cursor_dash {
	0% {
	    stroke-dasharray: 0,200;
	    stroke-dashoffset: 0;
	}

	50% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -35;
	}
	100% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -124;
	}
}
