mixin header(type = false)
	+b.HEADER.header(class=(type === false ? "_default" : ""))&attributes(attributes)
		+e.inner
			+e.wrap.wrap
				+e.row.flex._vertical
					+e.cell._hamburger
						+e.hamburger.hamburger__.js-open-menu
							+icon('hamburger')
					+e.cell._logo
						+b.A.logo.h2(href='/')
							+icon('logo')
					+e.cell._cat
						+e.cat.icon-link__.flex._vertical.js-toggle-categories.A(href="#")
							+e.icon._dots
								+e.icon-item._dots.is-default
									+icon('dots')
								+e.icon-item._close.is-focused
									+icon('close')
							+e.text.p Категории

					+e.cell._search
						+b.FORM.search(action="/api/")
							+e.INPUT.input.small(type="text" name="s" placeholder="Поиск исполнителя для любой задачи")
							+e.BUTTON.submit
								+icon('loupe')
					if(type == false)
						+e.cell._auth.flex._right._vertical
							+e.auth.icon-link__.p.flex._vertical.js-modal.A(href="#login-popup")
								+e.IMG.icon._arrow(src="/app/img/arrow.svg")
								+e.text Войти
					else
						+e.cell._auth.flex._right._vertical.is-login
							+e.links.flex._vertical
								+e.link.p.A(href='#') Мои заказы
								+e.link.p.A(href='#') Избранные
							+e.price 0 ₽
							+e.user.userdata__.flex._vertical
								+e.button._ring.A(href="#")
									+icon('ring')
								include ../layouts/notifications

								+e.button._mail.A(href="#")
									+icon('mail')

								+e.avatar.avatar__.A(href="#")
									+e.IMG.image.object-fit(src="/img/user.png")

		+e.categories.categories__
			+e.wrap.wrap
				+e.row.flex
					+e.cell._left
						+e.UL.list
					+e.cell._right
	+menu-modal(type)
