extends ../layouts/performer

append vars
	- title = 'Стать исполнителем (соцсети)';


block content
	+b.SECTION.become-performer
		+e.header.flex._bottom
			+e.A.logo.h2(href='/') bIIIId
			+e.step.p Шаг 2 из 3. Давайте знакомиться
			+e.afterline(style="width: 50%")
		+e.wrapper
			+e.H2.block-title.h2 Социальные сети
			+e.P.block-subtitle.p Прикрепив аккаунты из популярных социальных сетей, вы повысите свой авторитет среди исполнителей. Ссылки будут не доступны для других пользователей, но посетители вашей страницы могут видеть, что вы реальный человек.
			+e.FORM.form
				+b.profile.become-performer__form-row
					+e.form-social._wrapper
						+e.form-social._icon
							+icon('fb')
						+e.A.form-social._link.color-green(href="#" target="_blank") Привязать
							+icon('cls')
					+e.form-social._wrapper.is-linked
						+e.form-social._icon
							+icon('vk')
						+e.A.form-social._link.color-green(href="#" target="_blank") Отвязать
							+icon('cls')
					+e.form-social._wrapper
						+e.form-social._icon
							+icon('instagram')
						+e.A.form-social._link.color-green(href="#" target="_blank") Привязать
							+icon('cls')
			+e.row._submit.flex._right
				+e.BUTTON.form-submit.p Сохранить
