extends ../layouts/performer

append vars
	- title = 'Стать исполнителем (подтвердить)';


block content
	+b.SECTION.become-performer
		+e.header.flex._bottom
			+e.A.logo.h2(href='/') bIIIId
			+e.afterline(style="width: 100%")
		+e.wrapper._fluid.flex._column._vertical._center
			+e.flag
				+icon('flag')
			+e.H2.cool.h2 Круто!

			+e.P.text.css-text-center.p Теперь вы можете добавлять услуги. <br> Сделаем это прямо сейчас?

			+b.BUTTON.become-performer__form-submit.p Добавить услугу

			+e.A.later.p(href="#") Нет, сделаю позже
