extends ../layouts/base

append vars
	- title = 'Каталог';

block content

	include ../layouts/filters-object

	include ../layouts/mobile-filters


	+b.SECTION.catalog
		+e.wrap.wrap
			include ../layouts/filters
			+e.head
				+breadcrumbs("Главная", "Работа со звуком")
				+e.content.content.is-gray
					h2 Дикторская озвучка
					p Голоса дикторов со всего мира, для ваших замечательных проектов
				+e.mobile-filter.btn__.p.js-open-filters
					+e.icon._filter
						+icon('filters')
					+e.text Фильтры
				+e.sort.flex._justify._vertical
					+e.text.p Найдено 345 вариантов
					+e.sort-cell.flex._vertical
						+e.select.select__(data-tooltip="#sort-tooltip")
							+e.INPUT.input.js-send-input(type="hidden" name="sort" value="")
							+e.top.p
								| Сортировать по:
								span Цене
								+e.arrow
									+icon('arw')
						+e.DIV
							+e.LABEL.switcher.switcher__
								+e.INPUT.input.js-virtual-input.js-send-input(name="online" type="checkbox" value="true")
								+e.SPAN.text 
									| Онлайн 
									span.hide-mobile статус
			+e.tags.flex._vertical#tag-list(style="display:none")
			include ../layouts/catalog-list