extends ../layouts/base
append vars
	- title = 'История платежей (один баланс и нет кнопки вывести)';

block header
	+header(true)(class="_hide-search")

block content
	+b.SECTION.history
		+e.wrap.wrap
			+e.row
				+e.info._simple.flex
					+e.info._cell._no-border.flex
						+e.H2.heading.h2.b 3760 ₽
						+e.P.p.p Доступный баланс
						+e.help.is-help
							| ?
							+b.help-content.content.small
								| Какой-то текст
					+e.info._cell._fluid._no-border.flex
						+e.FORM.info-form.info-form__.flex._right
							+e.INPUT.input.is-single.small(type="text", name="pay-in-out", placeholder="Сумма, руб.")
							+e.BUTTON.button._pay-in.small Пополнить
				+e.table-header.flex
					+e.H2.h2.h2 История платежей
					+e.FORM.form-table.flex._vertical
						+e.form-table-date-wrapper
							+e.INPUT.form-table-date.p(type="text", placeholder="01.03.2018 – 30.03.2018")
							+icon('calendar')
						+e.A.form-table-export.p(href="javascript:void(0);") Экспорт в Excel
						+e.form-table-search-wrapper
							+e.BUTTON.form-table-submit
								+icon('loupe')
							+e.INPUT.form-table-search.p(type="text", placeholder="Поиск")
				+e.table
					+e.table-row.flex
						+e.table._cell.flex._column
							+e.table-date.p 12.02.2018
							+e.table-time.p.small.css-text-left 10:12
						+e.table._cell.flex._column._left
							+e.table-name.p Вывод средств
							+e.A.table-cancel._is-mobile.p.small(href="javascript:void(0);")  Отменить
						+e.table._cell.flex._column._bottom
							+e.table-price.p − 15 075 ₽
							+e.A.table-cancel.p.small(href="javascript:void(0);")  Отменить
					+e.table-row.flex
						+e.table._cell.flex._column
							+e.table-date.p 11.02.2018
							+e.table-time.p.small.css-text-left 5:10
						+e.table._cell.flex._column._left
							+e.table-name.p
								| Вывод средств &nbsp;
								+e.A.table-order(href="javascript:void(0)") Веб-дизайн для сайта визитки
							+e.table-help.history__help.is-help
								+icon('clock')
								+b.help-content.content.small
									b Платеж на проверке.
									br
									| Будет доступен для
									br
									| вывода <span>15.02.2020<span>
						+e.table._cell.flex._column._bottom
							+e.table-price._payout.p + 15 ₽
							+e.A.table-cancel.p.small(href="javascript:void(0);")  Отменить
					+e.table-row.flex
						+e.table._cell.flex._column
							+e.table-date.p 12.02.2018
							+e.table-time.p.small.css-text-left 10:12
						+e.table._cell.flex._column._left
							+e.table-name.p Вывод средств
							+e.A.table-cancel._is-mobile.p.small(href="javascript:void(0);")  Отменить
						+e.table._cell.flex._column._bottom
							+e.table-price.p + 15 075 ₽
					+e.table-row.flex
						+e.table._cell.flex._column
							+e.table-date.p 11.02.2018
							+e.table-time.p.small.css-text-left 5:10
						+e.table._cell.flex._column._left
							+e.table-name.p
								| Вывод средств &nbsp;
								+e.A.table-order(href="javascript:void(0)") Веб-дизайн для сайта визитки
							+e.table-help.history__help.is-help
								+icon('clock')
								+b.help-content.content.small
									b Платеж на проверке.
									br
									| Будет доступен для
									br
									| вывода <span>15.02.2020<span>
						+e.table._cell.flex._column._bottom
							+e.table-price._payout.p + 155 ₽
					+e.table-footer.flex._center
						+e.BUTTON.table-more.p Показать еще
