extends ../layouts/base

append vars
	- title = 'Переписка по заказу на стороне заказчика (Отзывы 1)';

block header
	+header(true)(class="_hide-search _shadow")

block content
	include ../layouts/order-messages-template
	include ../layouts/new-order-message-templates
