extends ../layouts/base

append vars
	- title = 'Сообщения в заказе (солянка, временная страница)';

block header
	+header(true)(class="_hide-search")

block content
	include ../layouts/new-order-messages
