extends ../layouts/base

append vars
	- title = 'Исполнитель. Переписка по заказу на стороне заказчика (Заказ отменен)';

block header
	+header(true)(class="_hide-search")

block content
	include ../layouts/order-messages-template
	include ../layouts/new-order-message-templates
