extends ../layouts/base

append vars
	- title = 'Настройки профиля (уведомления)';
	- body.classList = "is-have-mobile-nav";

block header
	+header(true)

block content

	include ../layouts/mobile-filters

	+b.SECTION.profile.profile__settings
		+e.wrap.wrap
			+e.row.flex._center
				+e.cell._left
					+e.NAV.menu
						+e.A.menu-item(href="#") Личные данные
						+e.A.menu-item(href="#") Контакты
						+e.A.menu-item.is-active(href="#") Уведомления
						+e.A.menu-item(href="#") Социальные сети
						+e.A.menu-item(href="#") Смена пароля
				+e.cell._right
					+e.block
						+e.row.flex._justify
							+e.H2.block-title._main.h2 Уведомления
							+e.A.back(href="#")
								+icon('chevronBack')
								| На страницу профиля
						+b.profile__block-title-select
								+e.select.slct__
									select(name='menu')
										option Личные данные
										option Контакты
										option Финансы
										option Социальные сети
										option Смена пароля
						+e.block-line
						+b.FORM.profile__form._personal-data._contacts
							+e.form-row
								+e.form-label._fluid._checkbox(for="new")
									+e.INPUT.form-checkbox(name="messages" id="new" type="checkbox")
									+e.form-checkbox-icon
										+icon('check')
									+e.SPAN.form-checkbox-text.p Новые сообщения
							+e.form-row
								+e.form-label._fluid._checkbox(for="chat")
									+e.INPUT.form-checkbox(name="chat" id="chat" type="checkbox")
									+e.form-checkbox-icon
										+icon('check')
									+e.SPAN.form-checkbox-text.p Переписка по заказу
							+e.form-row
								+e.form-label._fluid._checkbox(for="status")
									+e.INPUT.form-checkbox(name="status" id="status" type="checkbox")
									+e.form-checkbox-icon
										+icon('check')
									+e.SPAN.form-checkbox-text.p Статусы заказов
						+e.row._submit.flex._right
							+e.BUTTON.form-submit.btn.is-regular.p Сохранить
