extends ../layouts/base

append vars
	- title = 'Настройки профиля (смена пароля)';
	- body.classList = "is-have-mobile-nav";

block header
	+header(true)

block content

	include ../layouts/mobile-filters

	+b.SECTION.profile.profile__settings
		+e.wrap.wrap
			+e.row.flex._center
				+e.cell._left
					+e.NAV.menu
						+e.A.menu-item(href="#") Личные данные
						+e.A.menu-item(href="#") Контакты
						+e.A.menu-item(href="#") Уведомления
						+e.A.menu-item(href="#") Социальные сети
						+e.A.menu-item.is-active(href="#") Смена пароля
				+e.cell._right
					+e.block
						+e.row.flex._justify
							+e.H2.block-title.h2 Смена пароля
							+e.A.back(href="#")
								+icon('chevronBack')
								| На страницу профиля
						+e.block-line
						+b.FORM.profile__form._personal-data._contacts
							+e.form-row
								+e.LABEL.form-label(for="current")
									+e.P.form-text.p Текущий пароль
									+e.INPUT.form-input.p(type="password", id="current", name="current", placeholder="Ваш текущий пароль", onfocus="this.placeholder=''", onblur="this.placeholder='Ваш текущий пароль'")
							+e.form-row
								+e.LABEL.form-label(for="new")
									+e.P.form-text.p Новый пароль
									+e.INPUT.form-input.p(type="password", id="new", name="new", placeholder="Новый", onfocus="this.placeholder=''", onblur="this.placeholder='Новый'")
							+e.form-row
								+e.LABEL.form-label(for="confirm")
									+e.P.form-text.p Повторить пароль
									+e.INPUT.form-input.p(type="password", id="confirm", name="confirm", placeholder="Повторить новый", onfocus="this.placeholder=''", onblur="this.placeholder='Повторить новый'")
						+e.row._submit.flex._right
							+e.BUTTON.form-submit.p Сохранить
