extends ../layouts/base

append vars
	- title = 'Профиль (чужая страница)';

block header
	+header(true)

block content

	include ../layouts/mobile-filters

	+b.SECTION.profile
		+e.wrap.wrap
			+e.row.flex._justify
				+e.cell._left
					+e.parent.css-mobile
						+e.notification.notification__._error
							+e.icon._left
								+e.IMG(src="/app/img/warning.svg")
							+e.text.p.strong
								| Исполнитель не берет заказы в работу до 20.11.2019 &nbsp;&nbsp;&nbsp;
								+e.link.p.js-modal.A(href="#profile-order") Написать сообщение
					+e.box
						+e.box-avatar.avatar__._noscope
							+e.inner
								+e.IMG.image.object-fit(src="/img/avatar.jpg")
							+e.online-icon
						+e.box-name.h5._small
							| Ivanivanov
						+e.edit-status.edit-status__
							+e.text._default.color-gray-light
								| Сделай полноценное описание чтобы понимать сколько будет стоить эт вот
						+e.box-rating.flex._vertical._center
							+e.box-rating-text.p.b 4.1
							+e.box-stars.stars__.flex._vertical
								+e.item._active
									+icon('star')
								+e.item._active
									+icon('star')
								+e.item._active
									+icon('star')
								+e.item._active
									+icon('star')
								+e.item
									+icon('star')
							+e.box-rating-count.color-gray-light
								| (248 отзыва)
						+e.box-button.border-button__._light.p.js-modal.A(href="#profile-order")
							+e.text Написать
					+e.info
						+e.info-text.p
							| На сайте с 1 ноября 2019
						+e.info-text.p
							| Россия
					+e.statistics
						+e.info-section
							+e.statistics-title
								strong Исполнитель
							+e.statistics-row.p
								+e.statistics-label
									| Выполнено проектов
								+e.statistics-count
									| 12
							+e.statistics-row.p
								+e.statistics-label
									| Отзывы
								+e.statistics-count
									| 6
						+e.info-section
							+e.statistics-title
								strong Заказчик
							+e.statistics-row.p
								+e.statistics-label
									| Выполнено проектов
								+e.statistics-count
									| 293
							+e.statistics-row.p
								+e.statistics-label
									| Отзывы
								+e.statistics-count
									| 171
					+e.details
						+e.info-section
							+e.details-title.h5._small
								| Обо мне
							+e.details-desc.p.color-gray
								| Laboris ex eu commodo mollit ea excepteur et consequat. Velit Lorem cillum tempor magna nostrud qui dolore velit ipsum aute. Id reprehenderit id labore amet ullamco minim enim. Culpa est nostrud proident fugiat. Veniam velit adipisicing mollit velit nulla in minim sint excepteur consequat deserunt et aliquip sint.
						+e.info-section
							+e.details-title.h5._small
								| Соц. сети
							+e.social.social-vertical__
								+e.A.item(href="#")
									+e.icon
										img(src="app/img/fb-btn.svg")
									+e.text
										| Facebook
								+e.A.item(href="#")
									+e.icon
										img(src="app/img/vk-btn.svg")
									+e.text
										| Вконтакте
								+e.A.item(href="#")
									+e.icon
										img(src="app/img/ins-btn.svg")
									+e.text
										| Instagram
								+e.A.item(href="#")
									+e.icon
										img(src="app/img/od-btn.svg")
									+e.text
										| Одноклассники
						+e.info-section
							+e.details-title.h5._small
								| Языки
							+e.details-text.p
								| Русский
								span.color-gray-light (Родной)
							+e.details-text.p
								| Английский
								span.color-gray-light (Разговорный)
				+e.cell._right
					+e.notification.notification__._error.css-hidemobile
						+e.icon._left
							+e.IMG(src="/app/img/warning.svg")
						+e.text.p.strong
							| Исполнитель не берет заказы в работу до 31.11.2019 &nbsp;&nbsp;&nbsp;
							+e.link.p.js-modal.A(href="#profile-order") Написать сообщение
					+e.block
						+e.block-head._noscope.flex._start._justify
							+e.block-head-left.flex._vertical
								+e.H2.block-title.h2
									| Услуги исполнителя
						+e.service-list.service-list__.flex
							+e.item
								+b.case
									+e.gallery._noscope.js-case-slider.owl-carousel
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
								+e.A.info(href="#")
									+e.more-vertical.more-vertical
										+icon('moreVertical')
									+e.desc
										| Сделай полноценное описание чтобы понимать сколько
									+e.bottom.flex._justify._vertical
										+e.price.h6 от 4000 ₽
							+e.item
								+b.case
									+e.gallery._noscope.js-case-slider.owl-carousel
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
										+e.preview
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
								+e.A.info(href="#")
									+e.more-vertical.more-vertical
										+icon('moreVertical')
									+e.desc
										| Сделай полноценное описание чтобы понимать сколько
									+e.bottom.flex._justify._vertical
										+e.price.h6 от 4000 ₽
							+e.item
								+b.case
									+e.preview
										+e.IMG.image.object-fit(src="/img/profiles_1.jpg")
								+e.A.info(href="#")
									+e.more-vertical.more-vertical
										+icon('moreVertical')
									+e.desc
										| Сделай полноценное описание чтобы понимать сколько
									+e.bottom.flex._justify._vertical
										+e.price.h6 от 4000 ₽
							+e.item
								+b.case
									+e.preview
										+e.IMG.image.object-fit(src="/img/profiles_1.jpg")
								+e.A.info(href="#")
									+e.more-vertical.more-vertical
										+icon('moreVertical')
									+e.desc
										| Сделай полноценное описание чтобы понимать сколько
									+e.bottom.flex._justify._vertical
										+e.price.h6 от 4000 ₽
					+e.block
						+e.FORM.form.form(action="/")
							+e.H2.block-title._margin.h2
								| Портфолио
							+e.marks
								+e.marks-inner.flex
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" checked="" type="radio" value="Все")
										+e.SPAN.text Все
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Веб-дизайн")
										+e.SPAN.text Веб-дизайн
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Логотипы")
										+e.SPAN.text Логотипы
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Дизайн в соцсетях")
										+e.SPAN.text Дизайн в соцсетях
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Веб-дизайн")
										+e.SPAN.text Веб-дизайн
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Логотипы")
										+e.SPAN.text Логотипы
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Веб-дизайн")
										+e.SPAN.text Веб-дизайн
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Дизайн в соцсетях")
										+e.SPAN.text Дизайн в соцсетях
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Веб-дизайн")
										+e.SPAN.text Веб-дизайн
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Логотипы")
										+e.SPAN.text Логотипы
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Веб-дизайн")
										+e.SPAN.text Веб-дизайн
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Логотипы")
										+e.SPAN.text Логотипы
									+e.mark.textbox__.LABEL
										+e.INPUT.input(name="portfolio" type="radio" value="Дизайн в соцсетях")
										+e.SPAN.text Дизайн в соцсетях
							+e.portfolio.thumbnails__.js-thumbnails
								+e.box
									+e.list.js-gallery-modal.UL
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.player.player__._fluid.js-player(data-file="/app/media/video.mp4")
												+e.link.js-video-link.A(href="/app/img/test1.jpg" data-video="/app/media/video.mp4" title="Видеоролик для компании Nike2")
												+e.IMG.preview.object-fit(src="/img/test1.jpg")
												+e.container
												+e.bar
													+e.bar-line
														+e.bar-progress
														+e.bar-dot.ui-slider-handle
												+e.nav
													+e.nav-button.js-sub-play
														+e.nav-icon._play.is-active
															+icon('play')
														+e.nav-icon._pause
															+icon('pause')
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big_2.jpg" title="Видеоролик для компании Nike3")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike4")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike5")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike6")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike77")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
										+e.item._big
											+e.link.A(href="/app/img/portfolio_big.jpg" title="Видеоролик для компании Nike8")
												+e.IMG.image.object-fit(src="/img/portfolio_1.jpg")
								+e.nav.owl-nav
									button.owl-prev.js-prev
										+icon('arw')
									button.owl-next.js-next
										+icon('arw')
								+e.scrollbar
									+e.handle
										+e.mousearea
					+e.block
						+b.reviews
							+e.top._filter.flex._justify
								+e.title.h2 Отзывы
								+e.top-list.flex
									+e.top-item.p.is-active Все
									+e.top-item.p Положительные
									+e.top-item.p Отрицательные
								+e.select.slct__
									select(name='user')
										option От исполнителей
										option От заказчика
							+e.list
								+e.item._positive
									+e.cell._static
										+e.avatar.avatar__._noscope._online
											+e.inner
												+e.IMG.image.object-fit(src="/img/avatar2.jpg")
									+e.cell._fluid
										+e.head.flex._vertical
											+e.name.p.b Ivanivanov
											+e.date.p 11.02.2019
											+e.stars.stars__.flex._vertical
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item
													+icon('star')
										+e.text.content
											p
												| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia quis consectetur occaecat eiusmod ut reprehenderit mollit. Exercitation incididunt ut aute ipsum anim fugiat aute.
										+e.answers
											+e.item._answer
												+e.cell._static
													+e.avatar.avatar__._noscope._online
														+e.inner
															+e.IMG.image.object-fit(src="/img/avatar.jpg")
												+e.cell._fluid
													+e.head.flex._vertical
														+e.name.p.b Ivanivanov
														+e.date.p 11.02.2019
													+e.text.content
														p
															| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia.
								+e.item._negative
									+e.cell._static
										+e.avatar.avatar__._noscope._online
											+e.inner
												+e.IMG.image.object-fit(src="/img/avatar2.jpg")
									+e.cell._fluid
										+e.head.flex._vertical
											+e.name.p.b Ivanivanov
											+e.date.p 11.02.2019
											+e.stars.stars__.flex._vertical
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item
													+icon('star')
										+e.text.content
											p
												| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia quis consectetur occaecat eiusmod ut reprehenderit mollit. Exercitation incididunt ut aute ipsum anim fugiat aute.
										+e.answers
											+e.item._answer
												+e.cell._static
													+e.avatar.avatar__._noscope._online
														+e.inner
															+e.IMG.image.object-fit(src="/img/avatar.jpg")
												+e.cell._fluid
													+e.head.flex._vertical
														+e.name.p.b Ivanivanov
														+e.date.p 11.02.2019
													+e.text.content
														p
															| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia.
								+e.item._positive
									+e.cell._static
										+e.avatar.avatar__._noscope._online
											+e.inner
												+e.IMG.image.object-fit(src="/img/avatar2.jpg")
									+e.cell._fluid
										+e.head.flex._vertical
											+e.name.p.b Ivanivanov
											+e.date.p 11.02.2019
											+e.stars.stars__.flex._vertical
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item
													+icon('star')
										+e.text.content
											p
												| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia quis consectetur occaecat eiusmod ut reprehenderit mollit. Exercitation incididunt ut aute ipsum anim fugiat aute.
										+e.answers
											+e.item._answer
												+e.cell._static
													+e.avatar.avatar__._noscope._online
														+e.inner
															+e.IMG.image.object-fit(src="/img/avatar.jpg")
												+e.cell._fluid
													+e.head.flex._vertical
														+e.name.p.b Ivanivanov
														+e.date.p 11.02.2019
													+e.text.content
														p
															| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia.
								+e.item._negative
									+e.cell._static
										+e.avatar.avatar__._noscope._online
											+e.inner
												+e.IMG.image.object-fit(src="/img/avatar2.jpg")
									+e.cell._fluid
										+e.head.flex._vertical
											+e.name.p.b Ivanivanov
											+e.date.p 11.02.2019
											+e.stars.stars__.flex._vertical
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item._active
													+icon('star')
												+e.item
													+icon('star')
										+e.text.content
											p
												| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia quis consectetur occaecat eiusmod ut reprehenderit mollit. Exercitation incididunt ut aute ipsum anim fugiat aute.
										+e.answers
											+e.item._answer
												+e.cell._static
													+e.avatar.avatar__._noscope._online
														+e.inner
															+e.IMG.image.object-fit(src="/img/avatar.jpg")
												+e.cell._fluid
													+e.head.flex._vertical
														+e.name.p.b Ivanivanov
														+e.date.p 11.02.2019
													+e.text.content
														p
															| Pariatur sunt consectetur amet elit ex Lorem nostrud ea labore laboris labore id. Do laborum aliqua mollit ipsum incididunt sit officia.
							+e.button.border-button__._light.p.A(href='#')
								+e.text Показать еще
