+b.case._totop
	+e.list.is-loading.flex#catalog-list
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6

		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6

		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
		+e.item
			+e.preview
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small
				+e.top-cell._static
					+e.rating.rating__.small
			+e.content.content
			+e.bottom.flex._justify._vertical
				+e.price.h6
	+e.nav.flex._justify._vertical
		+e.A.button.btn__._light-bg.p(href="#")
			| Показать еще
			+e.icon-wrap
				+icon('loadingBtn', '0 0 15 17')
		+e.pagination.pagination__.flex._vertical
			+e.list.flex
				+e.list-item.p.A(href='#') 1
				+e.list-item.p.A(href='#') 2
				+e.list-item.is-active.p.A(href='#') 3
				+e.list-item.p.A(href='#') 4
			+e.button.border-button__.p.A(href='#')
				| Вперед
				+e.icon
					+icon('arrow')
