+b.case._totop
	+e.list.flex
		+e.item
			+e.gallery.js-case-slider.owl-carousel
				+e.preview
					+e.player.player__._fluid.js-player(data-file="/video.mp4")
						+e.IMG.preview.object-fit(src="/img/test1.jpg")
						+e.container
						+e.bar
							+e.bar-line
								+e.bar-progress
								+e.bar-dot
						+e.nav
							+e.nav-button
								+e.nav-icon._play.is-active
									+icon('play')
								+e.nav-icon._pause
									+icon('pause')

				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.gallery.js-case-slider.owl-carousel
				+e.preview
					+e.player.player__._fluid.js-player(data-file="/security.mp4")
						+e.IMG.preview.object-fit(src="/img/case_1.jpg")
						+e.container
						+e.bar
							+e.bar-line
								+e.bar-progress
								+e.bar-dot
						+e.nav
							+e.nav-button
								+e.nav-icon._play.is-active
									+icon('play')
								+e.nav-icon._pause
									+icon('pause')
				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
				+e.preview
					+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._static
					+e.label.label__._purple
						| СУПЕР
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__._purple.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.player.player__._fluid.js-player(data-file="/alla.mp3" data-audio="true")
					+e.IMG.preview.object-fit(src="/img/case_2.jpg")
					+e.container
					+e.bar
						+e.bar-line
							+e.bar-progress
							+e.bar-dot
					+e.nav
						+e.nav-button
							+e.nav-icon._play.is-active
								+icon('play')
							+e.nav-icon._pause
								+icon('pause')
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_3.jpg")
			+e.top
				+e.top-cell._static
					+e.label.label__
						| СУПЕР
				+e.top-cell._fluid
					+e.name.nickname.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')

		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')

		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
		+e.item
			+e.preview
				+e.IMG.image.object-fit(src="/img/case_1.jpg")
			+e.top
				+e.top-cell._fluid
					+e.name.nickname._online.small Uselles dude
				+e.top-cell._static
					+e.rating.rating__.small
						+e.icon
							+icon('star')
						| 4.7 
						span (232)
			+e.content.content
				p
					| Сделай полноценное описание чтобы понимать сколько 
			+e.bottom.flex._justify._vertical
				+e.price.h6 от 4000 ₽
				+e.like.like__
					+icon('like')
	+e.nav.flex._justify._vertical
		+e.A.button.btn__.p(href="#")
			| Показать еще
		+e.pagination.pagination__.flex._vertical
			+e.list.flex
				+e.list-item.p.A(href='#') 1
				+e.list-item.p.A(href='#') 2
				+e.list-item.is-active.p.A(href='#') 3
				+e.list-item.p.A(href='#') 4
			+e.button.border-button__.p.A(href='#')
				| Вперед
				+e.icon
					+icon('arrow')