+b.filters.flex._vertical
	+e.item.p.js-modal(data-modal="data-modal") Фильтры
	+e.item.p(data-tooltip="#price-tooltip") Цена
	+e.item.p(data-tooltip="#time-tooltip") Сроки
	+e.item.p(data-tooltip="#details-tooltip") Детали исполнителя
	+e.clear.p.strong.js-reset-form Очистить
