+b.FOOTER.footer
	+e.wrap.wrap
		+e.row
			+e.cell._fluid.flex
				+e.part
					+e.name.h6 Полезное
					+e.UL.list
						+e.LI.list-item
							+e.A.list-link.p(href='#') О сервисе
						+e.LI.list-item
							+e.A.list-link.p(href='#') Карта сайта
						+e.LI.list-item
							+e.A.list-link.p(href='#') Лицензионное соглашение
				+e.part
					+e.name.h6 Помощь
					+e.UL.list
						+e.LI.list-item
							+e.A.list-link.p(href='#') Как сделать заказ?
						+e.LI.list-item
							+e.A.list-link.p(href='#') Как стать исполнителем?
						+e.LI.list-item
							+e.A.list-link.p(href='#') Служба поддержки
			+e.cell._static._right.css-text-right
				+b.A.logo.h2(href='/') bIIIId
				+e.socials.socials__.flex
					+e.item
						+e.link._vk.A(href='#' target="_blank")
							+icon('vk')
					+e.item
						+e.link._fb.A(href='#' target="_blank")
							+icon('fb')
					+e.item
						+e.link._instagram.A(href='#' target="_blank")
							+icon('instagram')
					+e.item
						+e.link._twitter.A(href='#' target="_blank")
							+icon('twitter')