script.
	var api ={
		catalog: "/api/catalog/",
		mail: "/api/mail/"
	}

	var categories = [
		{
			"name": "Дизайн",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Тексты и переводы",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Работа со звуком",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Сайты и приложения",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Реклама и маркетинг",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Видео и анимация",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
	];

	var filters_data = [
		{
			label: "Пол",
			list: [

				{
					label: "Мужской",
					count: 290,
					type: "checkbox",
					name: "gender"
				},
				{
					label: "Женский",
					count: 250,
					type: "checkbox",
					name: "gender"
				},

			]
		},

		{
			label: "Возраст",
			list: [

				{
					label: "Средний",
					count: 32,
					type: "checkbox",
					name: "age"
				},
				{
					label: "Молодой",
					count: 123,
					type: "checkbox",
					name: "age"
				},
				{
					label: "Взрослый",
					count: 32,
					type: "checkbox",
					name: "age"
				},
				{
					label: "Детский",
					count: 22,
					type: "checkbox",
					name: "age"
				},

			]
		},

		{
			label: "Что нужно озвучить",
			list: [

				{
					label: "Видео о компании",
					count: 32,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Автоответчик / Голосовое меню",
					count: 123,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Рекламный ролик",
					count: 32,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Гид / Инструкция",
					count: 22,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Видеоблог",
					count: 32,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Автоответчик 2",
					count: 123,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Мультфильм",
					count: 32,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Документалистика",
					count: 22,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Компьютерная игра",
					count: 22,
					type: "checkbox",
					name: "work"
				},
				{
					label: "Трейлер",
					count: 22,
					type: "checkbox",
					name: "work"
				},
			]
		},

		{
			label: "Дополнительные услуги",
			list: [

				{
					label: "Чистка и обработка записи",
					count: 32,
					type: "checkbox",
					name: "more"
				},
				{
					label: "Наложение музыки",
					count: 123,
					type: "checkbox",
					name: "more"
				},
				{
					label: "Синхронизация с видео",
					count: 32,
					type: "checkbox",
					name: "more"
				},
				{
					label: "Дубляж",
					count: 22,
					type: "checkbox",
					name: "more"
				},

			]
		},


		{
			label: "Сроки",
			status: "mobile",
			list: [
				{
					label: "До 1 дня",
					count: 32,
					type: "checkbox",
					name: "time"
				},
				{
					label: "До 2 дней",
					count: 32,
					type: "checkbox",
					name: "time"
				},
				{
					label: "До 3 дней",
					count: 32,
					type: "checkbox",
					name: "time"
				},
				{
					label: "До 10 дней",
					count: 32,
					type: "checkbox",
					name: "time"
				},
			]
		},
		{
			label: "Уровень исполнителя",
			status: "mobile",
			list: [
				{
					label: "Эксперт",
					count: 32,
					type: "checkbox",
					name: "level"
				},
				{
					label: "Новичок",
					count: 32,
					type: "checkbox",
					name: "level"
				},
				{
					label: "Опытный",
					count: 32,
					type: "checkbox",
					name: "level"
				},
				{
					label: "Недавно на сайте",
					count: 32,
					type: "checkbox",
					name: "level"
				},
			]
		},
		{
			label: "Родной язык",
			status: "mobile",
			list: [
				{
					label: "Русский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Украинский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Английский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},				
				{
					label: "Казахский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Китайский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Итальянский",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Хинди",
					count: 32,
					type: "checkbox",
					name: "lang"
				},
				{
					label: "Немецкий",
					count: 32,
					type: "checkbox",
					name: "lang"
				}
			]
		},
	];