script.
	var api ={
		catalog: "/app/api/catalog.json",
		mail: "/app/api/mail/"
	}

	var categories = [
		{
			"name": "Дизайн",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Тексты и переводы",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Работа со звуком",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Сайты и приложения",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Реклама и маркетинг",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
		{
			"name": "Видео и анимация",
			"link": "#",
			"list": [
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
				[
					{
						"boxName" : "Фирменный стиль",
						"boxlist" : [
							{
								"name": "Логотипы",
								"href": "#1",
								"help": '<div class="categories__help label label_small label_red">Хит</div>'
							},
							{
								"name": "Фирменные бланки",
								"href": "#2",
							},
							{
								"name": "Дизайн визиток",
								"href": "#3",
							},
							{
								"name": "Коммерческое предложение",
								"href": "#4",
							},
							{
								"name": "Печати и штампы",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Веб и мобильный дизайн",
						"boxlist" : [
							{
								"name": "Дизайн сайтов",
								"href": "#1",
							},
							{
								"name": "Дизайн приложений",
								"href": "#2",
							},
							{
								"name": "Дизайн для соцсетей",
								"href": "#3",
							},
							{
								"name": "Рекламные баннеры",
								"href": "#4",
							},
							{
								"name": "Дизайн шаблонов Email",
								"href": "#5",
							}
						]
					},
					{
						"boxName" : "Упаковка и этикетка",
						"boxlist" : [
							{
								"name": "Дизайн упаковки",
								"href": "#1",
							}
						]
					}
				],
			]
		},
	];