+b.messages-pre._notifications
    +e.H1.title.h2 Уведомления

    +e.messages-list-wrap
        +e.scrollbar
            +e.handle
        +e.massages-frame
            +e.UL.list

                +e.LI.message._unread
                    +e.A.dialog-link(href="#" data-user-id="1")
                    +e.image-block
                        +e.SPAN.online
                        +e.image-wrap
                            +e.IMG.author-avatar(src="/img/avatar-woman.jpg")
                    +e.content-wrap
                        +e.text-top
                            +e.SPAN.author-name Елена
                            +e.TIME.date(datetime="2019-10-21") 15:29
                        +e.text-bottom
                            +e.SPAN.prev-text Вам поступил новый заказ “Верстка сайта под ключ #123123” от Евгения

                +e.LI.message
                    +e.A.dialog-link(href="#" data-user-id="1")
                    +e.image-block
                        +e.SPAN.online
                        +e.image-wrap
                            +e.IMG.author-avatar(src="/img/avatar-woman.jpg")
                    +e.content-wrap
                        +e.text-top
                            +e.SPAN.author-name Елена
                            +e.TIME.date(datetime="2019-10-21") 13:45
                        +e.text-bottom
                            +e.SPAN.prev-text Вам поступил новый заказ “Верстка сайта под ключ #123123” от Евгения

                +e.LI.message
                    +e.A.dialog-link(href="#" data-user-id="1")
                    +e.image-block
                        +e.SPAN.online
                        +e.image-wrap
                            +e.IMG.author-avatar(src="/img/avatar-woman.jpg")
                    +e.content-wrap
                        +e.text-top
                            +e.SPAN.author-name Елена
                            +e.TIME.date(datetime="2019-10-21") 26.04.2020
                        +e.text-bottom
                            +e.SPAN.prev-text Вам поступил новый заказ “Верстка сайта под ключ #123123” от Евгения

                +e.LI.message
                    +e.A.dialog-link(href="#" data-user-id="1")
                    +e.image-block
                        +e.SPAN.online
                        +e.image-wrap
                            +e.IMG.author-avatar(src="/img/avatar-woman.jpg")
                    +e.content-wrap
                        +e.text-top
                            +e.SPAN.author-name Елена
                            +e.TIME.date(datetime="2019-10-21") 21.10.2019
                        +e.text-bottom
                            +e.SPAN.prev-text Вам поступил новый заказ “Верстка сайта под ключ #123123” от Евгения

                +e.LI.message
                    +e.A.dialog-link(href="#" data-user-id="1")
                    +e.image-block
                        +e.SPAN.online
                        +e.image-wrap
                            +e.IMG.author-avatar(src="/img/avatar-woman.jpg")
                    +e.content-wrap
                        +e.text-top
                            +e.SPAN.author-name Елена
                            +e.TIME.date(datetime="2019-10-21") 20.10.2019
                        +e.text-bottom
                            +e.SPAN.prev-text Вам поступил новый заказ “Верстка сайта под ключ #123123” от Евгения
