+b.modals._filter.mfp-hide#filters.js-reset-parent
	+e.top
		+e.title Фильтры
	+e.center
		+e.inner.css-scrollbar#desktop-filters
	+e.bottom.flex._justify._vertical
		+e.button.transparent-button__._noscope.is-gray.js-reset-filters
			span Очистить все
		+e.button.transparent-button__._noscope.js-send-filters
			span Сохранить