+b.modals._filter.mfp-hide#filters.js-reset-parent
	+e.top
		+e.title Фильтры
	+e.center
		+e.inner.css-scrollbar#desktop-filters
	+e.bottom.flex._justify._vertical
		+e.button.transparent-button__._noscope.is-gray.js-reset-filters
			span Очистить все
		+e.button.transparent-button__._noscope.js-send-filters
			span Сохранить

+b.modals._service._right.mfp-hide#service-order
	+e.name.h2 Сообщение исполнителю
	+e.FORM.form.form(action="" enctype="multipart/form-data")
		+e.input.input__
			+e.TEXTAREA.field._textarea(name="message" placeholder="Введите ваше сообщение")
		+e.dropzone.dropzone__.js-dropzone
			+e.area
				+e.INPUT.file(name="file" type="file" multiple)
				+e.preview
					+e.item
						+e.row.flex._vertical
							+e.icon
								+icon('doc')
							+e.name
								+e.SPAN(data-dz-name)
								+e.SPAN.size
									| &nbsp;(
									span(data-dz-size)
									| )
								+e.SPAN.status(data-dz-uploadprogress)
									+e.IMG.status-preload(src="/app/img/preload.svg")
									span.progress-text
								+e.SPAN.remove.js-remove-file(data-dz-remove)
									+icon('delete')
			+e.BUTTON.button.border-button__.p.strong.js-dropzone-trigger(type="button")
				+e.icon._clip
					+e.IMG(src="/app/img/clip.svg")
				+e.text Прикрепить файл
		+e.BUTTON.button.btn__.js-modal(data-modal="#service-thanks")
			+e.text Отправить

+b.modals._service._vertical._right.mfp-hide#service-thanks
	+e.inside
		+e.check
			+icon('thanksCheck')
		+e.name._small.h2 Сообщение успешно отправлено
		+e.content.content.is-gray
			p
				| Вся переписка доступна
				br
				| в разделе Сообщения

+b.modals._service._right.mfp-hide#profile-order
	+e.name.h2 Сообщение исполнителю
	+e.FORM.form.form(action="" enctype="multipart/form-data")
		+e.input.input__
			+e.TEXTAREA.field._textarea(name="message" placeholder="Введите ваше сообщение")
		+e.dropzone.dropzone__.js-dropzone
			+e.area
				+e.INPUT.file(name="file" type="file" multiple)
				+e.preview
					+e.item
						+e.row.flex._vertical
							+e.icon
								+icon('doc')
							+e.name
								+e.SPAN(data-dz-name)
								+e.SPAN.size
									| &nbsp;(
									span(data-dz-size)
									| )
								+e.SPAN.status(data-dz-uploadprogress)
									+e.IMG.status-preload(src="/app/img/preload.svg")
									span.progress-text
								+e.SPAN.remove.js-remove-file(data-dz-remove)
									+icon('delete')
			+e.BUTTON.button.border-button__.p.strong.js-dropzone-trigger(type="button")
				+e.icon._clip
					+e.IMG(src="/app/img/clip.svg")
				+e.text Прикрепить файл
		+e.BUTTON.button.btn__.js-modal(data-modal="#profile-thanks")
			+e.text Отправить

+b.modals._service._vertical._right.mfp-hide#profile-thanks
	+e.inside
		+e.check
			+icon('thanksCheck')
		+e.name._small.h2 Сообщение успешно отправлено
		+e.content.content.is-gray
			p
				| Средства поступят на счет
				| в течение 1-2 банковских дней

+b.modals._sms._vertical._right.mfp-hide#sms
	+e.name.h2 Введите код из SMS
	+e.FORM.form.form.flex
		+e.INPUT.input-sms.h2(type="text" tabindex="0" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="1" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="2" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="3" name="sms")
	+e.P.notification Введенный код не верный
	+e.form-resend-wrapper
