+b.login-popup._password.mfp-hide.modals#password-recovery
	+e.top
		+e.wrap.flex
			+e.title.h2.SPAN Восстановление пароля
			+e.text.is-gray.p.P Введите логин или email указанный при регистрации. Мы отправим письмо с ссылкой для восстановления пароля.

			+e.form.login-form__.flex#pass-recovery-form.FORM(action="/" method="POST")
				+e.label.LABEL
					+e.input.INPUT(type="text" name="login" placeholder="Логин или email")
				+e.submit.btn.is-regular.BUTTON(type="submit") Отправить письмо
	+e.bottom
		+e.wrap.flex
			+e.text.p.P
				+e.link.js-modal.A(href="#registration-popup") Зарегистрироваться
				| &#32;или&nbsp;
			+e.text.p.P
				+e.link.A(href="#") Восстановить
