+b.popup-messages
	+e.message._notification
		+e.B.title Новое уведомление
		+e.content-wrap
			+e.image-wrap
				+e.IMG.image(src="/img/order.jpg")
			+e.P.text
				+e.SPAN.login Jarovoy
				|&#32;Оставил новое сообщение&nbsp;в&#32;переписке по заказу
		+e.close-btn

	+e.message._message
		+e.B.title Новое сообщение
		+e.content-wrap
			+e.image-wrap
				+e.IMG.image(src="/img/avatar.jpg")
			+e.P.text
				+e.SPAN.login Jarovoy
				|&#32;Привет! Свободны? Нужна озвучка для бренда Toyota крутым голосо ...
		+e.close-btn
