+b.login-popup._password.mfp-hide.modals#recovery-success
	+e.top
		+e.wrap.flex
			+e.title.h2.SPAN Восстановление пароля
			+e.text.is-gray.p.P
				| Мы отправили письмо с ссылкой для смены пароля на&#32;
				+e.link.A(href="mailto:ladushka@mail.ru") ladushka@mail.ru
