+b.ASIDE.sticky-order-info
	+e.DIV.order.sticky-order__
		+e.DIV.heading-wrap
			+e.H2.title Озвучка текста для бренда Toyota крутым голосом почти бесплатно
			+e.DIV.mobile-info
				+e.A.mobile-buyer(href="#") Николай
				+e.TIME.mobile-deadline(datetime="2019-09-22T12:45") до 26 сен. 16:33

		+e.DIV.info-labels
			+e.SPAN.info._price
				+e.price 3 000
				| &nbsp;₽
			+e.SPAN.info._status._status-work В работе

		+e.TABLE.info-table
			+e.TR.table-row
				+e.TD.table-cell._left._order-left Заказ:
				+e.TD.table-cell._right._order-right
					+e.B.order-number N GD412415
			+e.TR.table-row
				+e.TD.table-cell._left._order-date-left Дата заказа:
					+e.TD.table-cell._right._order-date-right
						+e.TIME.order-time(datetime="2019-09-22T12:45") Пн. 22 сен. 2019, 13:45
			+e.TR.table-row._desktop
				+e.TD.table-cell._left Заказчик:
					+e.TD.table-cell._right
						+e.A.order-buyer(href="#") Николай
			+e.TR.table-row._desktop
				+e.TD.table-cell._left Сроки выполнения:
					+e.TD.table-cell._right
						+e.SPAN.order-deadline до 26 сен. 16:33

		+e.IMG.image(src="/img/new-order-item_messages.jpg")
		+e.P.description Запишу красивый мужской голос для вашего проекта

		+e.P.additional-action Вы можете&#32;
			+e.A.cancel(href="#") отменить
			| &#32;заказ пока исполнитель не принял его в работу

	+e.DIV.support.order-support__
		+e.B.slogan Есть проблемы с заказом?
		+e.P.appeal Наша служба поддержки всегда на связи.
			+e.A.write-link(href="#") &#32;Напишите нам
			| &#32;и мы обязательно
			br
			| разрешим любую ситуацию.
