.border-button{
	border: 1px solid rgba(42, 45, 52, 0.3);
	border-radius: 3px;
	padding: 0 2rem;
	font-weight: 500;
	min-height: 4rem;
	color: $dark;
	cursor: pointer;
	max-width: 100%;
	background: transparent;
	font-family: 'Roboto';
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color .2s ease;

	&:hover,
	&:focus {
		border-color: $default;
	}

	&__icon{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 1.8rem;
		width: 7px;
		fill: transparent;
		stroke: #000;
		stroke-width: 2;

		&_clip{
			width: 1.8rem;
			margin-left: 0;
			margin-right: 1.2rem;
		}
	}

	&_light{
		height: 5rem;
		border-width: 1px;
		font-weight: normal;
	}

	&_blue {
		color: $blue;
		border-color: rgba(96, 110, 219, 0.2);

		&:hover,
		&:focus {
			border-color: $blue;
		}
	}

	&_blue-border {
		border-color: $blue;
	}

	@include max-screen($large_mobile) {
		padding-top: 0rem;
		padding-bottom: 0rem;
		height: 4rem;
	}
}
