.btn{
	position: relative;
	background: $blue;
	color: #fff;
	padding: 0 3.5rem;
	max-width: 100%;
	min-height: 4rem;
	border: none;
	cursor: pointer;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	transition: background-color .2s ease;
	border-radius: 3px;

	&:hover,
	&:focus {
		background-color: $blue_hover;
	}

	@extend .p;


	&__icon{
		fill: #fff;
		&_filter{
			width: 2.4rem;
			margin-right: 1rem;
		}
	}

	&_accent {
		background-color: $pink;

		&:hover,
		&:focus {
			background-color: $pink_hover;
		}
	}

	&_dark{
		background: $default;
	}

	&_red{
		background: $red;
	}

	&_big{
		height: 5rem;
	}

	&_light {
		font-size: 1.4rem;
		font-weight: normal;
		padding: 0 2.5rem;
	}

	&_light-bg {
		color: $blue;
		background-color: $blue_light;

		&:hover,
		&:focus {
			background-color: $blue_light_hover;
		}

		&.loading {
			color: transparent;

			.btn {
				&__icon-wrap {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 1.5rem;
					height: 1.7rem;
					transform: translate(-50%, -50%);
				}
			}

			.icon-loadingBtn {
				fill: $blue;
			}
		}
	}

	&_refuse {
		border: none;
		color: $blue;
		background-color: transparent;
		transition: color .3s ease;

		&:hover,
		&:focus {
			background-color: transparent;
			color: $blue_hover;
		}
	}

	&.is-disabled{
		pointer-events: none;
		background: #F5F5F5;
		color: rgba($default, .2);
	}

	&__icon-wrap {
		display: none;
	}

	@include max-screen($large_mobile) {
		min-height: 4rem;

		&_big{
			height: 4rem;
		}
	}
}

