.input{
	
	&__field{
		width: 100%;
		height: 3.6rem;

		@extend .p;

		font-family: Roboto;
		color: $default;
		padding: 0 1.5rem;

		border: 1px solid rgba(42, 45, 52, 0.15);

		&_textarea{
			height: 11rem;
			resize: none;
			padding: 1.6rem;
			border: 1px solid rgba(42, 45, 52, 0.15);
		}

	}
}