.stars{
	&__item{
		width: 14px;
		height: 14px;
		fill: transparent;

		stroke: #FF5A5F;

		&_active{
			fill: #FF5A5F;
			stroke: none;

			svg {
				fill: #FF5A5F;
			}
		}

		&:not(:last-child){
			margin-right: 5px;
		}
	}
}
