.become-performer {
	padding: 3.7rem 5rem 8.8rem;

	@include max-screen($small_tablet) {
		padding: 2rem;
	}

	&__header {
		position: relative;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #DFE0E1;

		@include max-screen($small_tablet) {
			align-items: center;
		}
	}

	&__logo {
		margin-right: 4.3rem;
		font-weight: 900;

		@include max-screen($small_mobile) {
			margin-bottom: 2rem;
		}
	}

	&__afterline {
		position: absolute;
		bottom: -2px;
		background-color: $blue;
		height: 3px;
	}

	&__wrapper {
		width: 100%;
		max-width: 815px;
		margin: 8.8rem auto 0;

		&_fluid {
			height: calc(100vh - 27rem);
		}
	}

	&__row {
		&_submit {
			padding-top: 1.5rem;
		}
	}

	&__block {
		&-title {
			margin-bottom: 2rem;
		}

		&-subtitle {
			color: rgba(42, 45, 52, 0.5);
			margin-bottom: 4.6rem;
			max-width: 590px;
		}
	}

	&__form {
		border-bottom: 1px solid rgba($color: $gray-light, $alpha: 0.15);

		&-row {
			margin-bottom: 4.6rem;

			&.profile {
				padding: 0;
			}
		}

		&-label {
			width: 100%;
			max-width: 374/815*100%;

			@include max-screen ($large_tablet) {
				max-width: 100%;
				margin-bottom: 2rem;
			}
		}

		&-input {
			display: block;
			width: 100%;
			padding: 1.6rem;
			border: 1px solid rgba(42, 45, 52, 0.15);
			color: #000;

			&::placeholder {
				color: rgba(42, 45, 52, 0.5);
			}
		}

		&-select {
			.selectric {
				height: auto;
				padding: 1.6rem;
				color: rgba(42, 45, 52, 0.5);

				.label {
					margin: 0;
					font-size: 1.6rem;
					line-height: 1.9rem;
					font-weight: normal;
				}
			}
		}

		&-text {
			margin-bottom: 2rem;

			span {
				color: rgba(42, 45, 52, 0.5);
				font-weight: normal;
			}
		}

		&-submit {
			display: block;
			padding: 1rem 2.7rem 1.1rem;
			color: #fff;
			background-color: $blue;
			border: none;

			@include max-screen ($small_tablet) {
				width: 100%;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__flag {
		width: 49px;
		height: 49px;

		svg {
			fill: #fff;
			stroke: $blue;
		}
	}

	&__cool {
		margin: 1.5rem 0 2.7rem;
	}

	&__text {
		margin-bottom: 3.7rem;
	}

	&__later {
		margin-top: 1.4rem;
		text-decoration: underline;

		&:hover {
			color: #000;
		}
	}
}
