.dialog {
	list-style: none;

	&__message {
		position: relative;

		display: flex;
		margin-right: 20px;
		padding: 1.4rem 6rem 1.6rem 4rem;

		@include max-screen($messages_large_mobile) {
			padding: 1.3rem 1.3rem 0;
		}

		&_read {
			svg.icon-messageread {
				position: absolute;
				top: 0.5rem;
				right: -2.5rem;

				display: block;

				@include max-screen($messages_large_mobile) {
					top: -1.3rem;
					right: 0;
				}
			}
		}

		&_delivered {
			svg.icon-delivered {
				position: absolute;
				top: 0.5rem;
				right: -2rem;

				display: block;

				@include max-screen($messages_large_mobile) {
					top: -1.4rem;
					right: 0;
				}
			}
		}

		&_order {
			flex-wrap: wrap;

			&-create {
				.dialog {
					&__image-wrap {
						background-color: #009688;
					}
				}

				.icon-checkmark {
					width: 1.6rem;
					height: 1.6rem;

					fill: #ffffff;
				}
			}

			&-complete {
				.dialog {
					&__image-wrap {
						background-color: #009ddc;
					}
				}

				.icon-box {
					width: 1.6rem;
					height: 1.6rem;
					margin-left: 0.1rem;

					fill: #ffffff;
				}
			}

			&-debug {
				.dialog {
					&__image-wrap {
						background-color: #009ddc;
					}
				}

				.icon-sendOrder {
					width: 1.6rem;
					height: 1.6rem;

					fill: #ffffff;
				}
			}

			&-additional {
				.dialog {
					&__image-wrap {
						background-color: #8131e8;
					}
				}

				.icon-warning {
					width: 1.6rem;
					height: 1.6rem;

					fill: #ffffff;
				}
			}

			&-cancel {
				.dialog__image-wrap {
					position: relative;
					background-color: #949699;

					.icon-cancel {
						transform: rotate(45deg);

						&::before,
						&::after {
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							width: 1.7rem;
							height: 0.2rem;
							border-radius: 0.2rem;
							background-color: #ffffff;
						}

						&::before {
							transform: translate(-50%, -50%);
						}

						&::after {
							transform: translate(-50%, -50%) rotate(90deg);
						}
					}
				}
			}

			&-conclusion {
				.dialog__image-wrap {
					background-color: #009688;
				}

				.icon-thumbsUp {
					width: 1.5rem;
					height: 1.5rem;
					margin-bottom: 0.2rem;
					margin-left: 0.2rem;
					fill: none;
					stroke: #ffffff;
					stroke-width: 1.5;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
			}

			&-feedback {
				.dialog__image-wrap {
					background-color: #e83131;
				}

				.icon-edit {
					width: 1.6rem;
					height: 1.6rem;
					fill: #ffffff;
				}
			}
		}

		&_user-review {
			flex-wrap: wrap;

			.dialog {
				&__message-text-wrap {
					flex-grow: 1;
					width: auto;
				}

				&__review-title {
					width: 100%;
					margin-bottom: 1.6rem;
					font-size: 1.6rem;
					font-weight: 500;
					line-height: 1.9rem;

					@include max-screen($large_mobile) {
						font-size: 1.4rem;
						line-height: 1.6rem;
					}
				}

				&__box-stars {
					margin-top: 0.8rem;
				}

				&__answer-btn {
					height: 4rem;
					margin-top: 2rem;
					border-color: rgba(42, 45, 52, 0.3);
					transition: 0.2s ease;

					@include min-screen($large_mobile + 1) {
						max-width: 50%;
						margin-right: 50%;
					}

					&:hover,
					&:focus {
						border-color: rgba(42, 45, 52, 1);
					}
				}

				&__answer-to-review {
					display: flex;
					flex-wrap: wrap;
					margin-top: 2rem;

					@include max-screen($large_mobile) {
						width: calc(100% + 4.3rem);
						margin-left: -4.3rem;
					}
				}

				&__answer-review-form {
					width: 100%;
					margin-top: 3rem;
				}
			}
		}
	}

	&__image-wrap {
		overflow: hidden;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		margin-right: 2.4rem;
		border-radius: 50%;

		@include max-screen($messages_large_mobile) {
			width: 32px;
			height: 32px;
			margin-right: 1.2rem;
		}
	}

	&__message-text-wrap {
		width: 100%;
		margin-top: 0.2rem;

		font-size: 1.6rem;

		@include max-screen($messages_large_mobile) {
			font-size: 1.2rem;
		}
	}

	&__text-top {
		display: flex;
		align-items: flex-start;
		margin-bottom: 0.5rem;

		@include max-screen($messages_large_mobile) {
			margin-bottom: 0;
		}
	}

	&__author-name {
		margin-right: 1rem;

		@include max-screen($messages_large_mobile) {
			font-size: 1.4rem;
		}
	}

	&__time {
		color: rgba(42, 45, 52, 0.5);

		opacity: 0.5;

		@include max-screen($messages_large_mobile) {
			margin-top: 0.1rem;
		}
	}

	&__message-text {
		position: relative;

		line-height: 1.6;
		word-break: break-word;

		@include max-screen($messages_large_mobile) {
			padding-right: 0;
		}
	}

	&__icons-wrap {
		.icon-delivered {
			display: none;
		}

		.icon-messageread {
			display: none;

			fill: #009688;
		}
	}

	.icon-delivered {
		width: 1.3rem;
	}

	.icon-messageread {
		width: 2.4rem;
	}

	&__attached-file {
		display: flex;
		width: 100%;
		margin-top: 1.3rem;
	}

	&__attached-icon-wrap {
		flex-shrink: 0;
		width: 2.2rem;
		margin-right: 0.6rem;

		fill: none;
		stroke: #2a2d34;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	&__attached-name {
		margin-right: 0.6rem;
	}

	&__attached-size-wrap {
		opacity: 0.3;
	}

	&__video-container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 1.6rem;
	}

	&__video-item {
		flex-shrink: 0;
		width: 15.4rem;
		margin-right: 1.7rem;

		.player {
			&__nav-button {
				display: block;
			}

			&__bar-cell_left {
				position: absolute;
				bottom: 15px;
				left: 50%;

				transform: translateX(-50%);
			}
		}
	}

	&__video-wrap {
		position: relative;

		display: block;
		width: 154px;
		height: 92px;
		margin-bottom: 0.5rem;
	}

	&__video-info {
		position: relative;

		display: flex;
		flex-wrap: wrap;

		font-size: 1.2rem;
	}

	&__video-name {
		max-width: 13rem;
		margin-right: 0.6rem;
	}

	&__video-size-wrap {
		margin-right: 0.6rem;

		opacity: 0.3;
	}

	&__download-icon-wrap {
		display: block;
		width: 0.7rem;
	}

	&__video-download {
		position: absolute;
		top: 0;
		right: 0;

		width: 2.8rem;
		margin-left: auto;
		padding-top: 0.5rem;
		padding-right: 1rem;
		padding-left: 1rem;

		fill: #009688;

		&:hover,
		&:focus {
			fill: #00c9bb;
		}

		&:active {
			fill: #ef9a1e;
		}
	}

	&__bill-wrap {
		width: 100%;
		margin-top: 0.8rem;

		@include max-screen($messages_large_mobile) {
			padding-right: 1rem;
		}
	}

	&__bill-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #f2f3f3;
	}

	&__table-row {
		&_head {
			background-color: #f2f3f3;
		}

		&:not(:first-of-type) {
			border-top: 1px solid #f2f3f3;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid #f2f3f3;
		}
	}

	&__table-head {
		padding: 1.8rem 2.3rem 1.8rem;

		font-weight: normal;
		line-height: 1.6rem;

		@include max-screen($large_mobile) {
			padding: 0.9rem 1.2rem 1rem;
		}
	}

	&__table-cell {
		padding: 1.3rem 1.1rem 1.3rem 2.4rem;

		line-height: 1.4rem;

		@include min-screen($small_desktop) {
			line-height: 2.4rem;
		}

		@include max-screen($large_mobile) {
			padding: 1.3rem 1.1rem 1.3rem 1.2rem;
		}

		&_order-name {
			line-height: 1.5;
		}

		&_text {
			color: rgba(42, 45, 52, 0.5);
		}

		&_details {
			width: 60%;

			text-align: right;
		}
	}

	&__buttons-wrap {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 2rem;

		@include max-screen($large_mobile) {
			margin-top: 1.4rem;
		}
	}

	&__order-btn {
		height: 3.8rem;

		@include max-screen($large_mobile) {
			height: 3.4rem;

			font-size: 1.2rem;
			line-height: 1.4rem;
		}

		&_cancel {
			width: 13.5rem;
			margin-left: auto;
			padding: 0.7rem 1.4rem 0.9rem;
			border: 1px solid #2a2d34;

			font-weight: 500;
			color: #2a2d34;

			.dialog__text {
				@include max-screen($large_mobile) {
					margin-bottom: -1px;
				}
			}
		}

		&_refuse {
			margin-right: 1rem;
			margin-left: auto;

			@include max-screen($large_mobile) {
				margin-right: 0;
			}
		}

		&_accept {
			width: 13.5rem;
			max-width: 30rem;
			min-height: 1.4rem;
			margin-left: 1rem;
			padding: 0.9rem 1.4rem 0.9rem;

			font-weight: normal;

			@include max-screen($messages_large_mobile) {
				width: 10.5rem;
				padding: 0.9rem 1.4rem 0.9rem;
			}
		}
	}
}
