.header{
	position: relative;

	&__inner{
		position: relative;
		z-index: 600;
		padding: 1.4rem 0;
		background: #fff;
	}

	&__price{
		min-width: 93px;
		font-size: 2rem;
		line-height: 110%;
		font-weight: 500;
		margin-left: 7.7rem;
	}

	&__link{
		transition: ease .2s;

		&:hover{
			color: $blue;
		}
		&:not(:last-child){
			margin-right: 3.2rem;
		}
	}

	&__cell{
		&_hamburger{
			display: none;
		}
		&_logo{
			//width: 122/1336*100%;
			width: 11.6rem !important;
		}
		&_cat{
			width: 146/1336*100%;
			margin-left: auto;
		}
		&_search{
			width: 420/1336*100%;
		}
		&_auth{
			width: 600/1336*100%;
		}
	}

	@include min-screen($large_tablet + 1) {
		&_shadow {
			box-shadow: 0px 4px 4px rgba(42, 45, 52, 0.15);
		}
	}


	@include max-screen($large_desktop) {
		&__link{
			&:not(:last-child){
				margin-right: 2.2rem;
			}
		}
		&__price{
			margin-left: 2.7rem;
		}
	}

	@include max-screen($large_desktop) {
		&_default{
			.header{
				&__cell{
					&_logo{
						width: 11.6rem !important;
					}
					&_search{
					    width: 34.43713%;
					}
					&_cat{
					    width: 16.92814%;
					}
					&_auth{
					    width: 34.50299%;
					}
				}
			}
		}

		&__price{
			text-align: center;
		}
		&__cell{
			&_search{
				width: 23.43713%;
			}
			&_cat{
			    width: 12.92814%;
			}
			&_auth{
			    width: 48.50299%;
			}
		}
	}

	@include max-screen($small_desktop) {
		&__cell {
			&_auth {
				width: 51.50299%;
			}

			&_search {
				width: 22.43713%;
			}
		}
	}

	@include max-screen($large_tablet) {
		padding-bottom: 3rem;
		&__row{
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__links,
		&__price{
			display: none;
		}

		&__inner{
			padding-top: 2rem;
			padding-bottom: 0;
		}
		&__auth{
			.icon-link__icon{
				display: none;
			}
		}
		&__cell{
			width: auto!important;
			&_search{
				width: 100%!important;
				margin-top: 2rem;
				order: 4;
			}
			&_logo{
				width: 11.6rem !important;
				order: 2;
				//margin-right: auto;
				//margin-left: 4.3rem;
			}
			&_cat{
			    display: none;
			}
			&_hamburger{
				display: block;
				order: 1;
			}
			&_auth{
				order: 3;

				&.is-login{
					display: none;
				}
			}
		}
	}

	@include max-screen($large_mobile) {
		&_hide-search{
			.header__cell_search{
				display: none;
			}
		}
	}
}
