.help-content{
	position: absolute;
	left: 100%;
	bottom: 100%;
	margin-bottom: -2px;
	margin-left: 3px;
	background: #FFFFFF;
	width: 204px;
	padding: 1.5rem;
	box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.15);
	line-height: 1.6rem;
	font-weight: 500;
	color: #2A2D34;

	visibility: hidden;
	opacity: 0;
	transition: ease .25s;

	@include max-screen($large_mobile) {
		margin-left: -102px;
		margin-bottom: 5px;
	}
}