.history {
	padding: 3.7rem 0 12.6rem;
	background: #f5f5f5;

	@include max-screen($large_tablet) {
		padding-bottom: 4rem;
	}

	&__heading {
		margin-bottom: 3px;

		@include max-screen($large_tablet) {
			font-weight: 500;
		}
	}

	&__p {
		color: rgba(42, 45, 52, 0.5);
	}

	&__wrap {
		max-width: 1264px;

		@include max-screen($large_tablet) {
			padding: 0;
		}
	}

	&__info {
		background-color: #fff;
		padding: 2.2rem 0 2.3rem;

		@include max-screen($large_tablet) {
			flex-direction: column;
		}

		&_cell {
			position: relative;
			width: 100%;
			max-width: 340/1200 * 100%;
			padding: 0 3rem;
			border-right: 1px solid rgba($color: $gray-light, $alpha: 0.15);

			@include max-screen($large_tablet) {
				max-width: 100%;
				margin-bottom: 2rem;
				padding: 0 2rem;

				&:last-child {
					margin-top: 1rem;
					margin-bottom: 0;
				}
			}
		}

		&_fluid {
			max-width: 520/1200 * 100%;

			@include max-screen($large_tablet) {
				max-width: 100%;
			}
		}

		&_no-border {
			border: none;
		}

		.info-form {
			width: 100%;
			padding: 0.8rem 0 0.7rem;

			@include max-screen($large_tablet) {
				padding: 0;
			}

			&__input {
				appearance: textfield;
				display: block;
				width: 100%;
				max-width: 200/460 * 100%;
				padding: 1.2rem 2.4rem;
				border: 1px solid rgba(42, 45, 52, 0.15);
				color: #000;
				line-height: 1.6rem;

				&::placeholder {
					color: rgba(42, 45, 52, 0.5);
				}

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				@include max-screen($large_tablet) {
					max-width: 100%;
				}
			}

			&__button {
				padding: 1.2rem 2.5rem;
				line-height: 1.6rem;

				@include max-screen($large_tablet) {
					margin-top: 1rem;
					width: 100%;
					max-width: 46.4%;
				}

				&:hover {
					cursor: pointer;
				}

				&_pay-in {
					border: none;
					background: #009688;
					color: #fff;
				}

				&_pay-out {
					border: 1px solid #000;
					color: #000;
					background: #fff;
				}
			}
		}

		&_simple {
			.history {
				&__info {
					&_cell {
						max-width: 50%;
						align-items: center;

						.history__p {
							order: 1;
							margin-right: 2rem;
						}

						.history__heading {
							order: 2;
						}

						.is-help {
							display: none;
						}

						@include max-screen($large_tablet) {
							max-width: 100%;
							align-items: unset;

							.history__p,
							.history__heading {
								order: unset;
							}

							.is-help {
								display: inline-flex;
							}
						}
					}

					.info-form {
						input {
							margin-right: 2rem;

							@include max-screen($large_tablet) {
								margin-right: unset;
							}
						}

						&__button {
							@include max-screen($large_tablet) {
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}

	&__help {
		position: absolute;
		top: 0.7rem;
		right: 5.5rem;

		.help-content {
			bottom: -250%;
			z-index: 50;
		}

		@include max-screen($large_tablet) {
			right: 2rem;
		}
	}

	&__table {
		margin: 3rem 0 0;
		background-color: #fff;

		@include max-screen($large_tablet) {
			margin-top: 2rem;
		}

		&-row {
			position: relative;
			padding: 3rem 0 1.2rem;
			transition: all .3s ease;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 1140px;
				height: 1px;
				background-color: rgba($color: $gray-light, $alpha: 0.15);
				transition: all .3s ease;
				transform: translateX(-50%);
			}

			&:hover {
				cursor: pointer;
				background: rgba($color: #f2f2f3, $alpha: 0.4);

				&::after {
					max-width: 100%;
				}
			}

			@include max-screen($large_tablet) {
				flex-direction: column;
				padding: 1.2rem 0;
			}

		}

		&-footer {
			padding: 1.6rem;
		}

		&-more {
			background-color: transparent;
			border: none;

			&:hover {
				cursor: pointer;
			}
		}

		&_cell {
			position: relative;
			width: 100%;
			max-width: (1200 - 190*2)/1200 * 100%;
			margin: 0;
			background-color: transparent;

			&:first-child,
			&:last-child {
				max-width: 190/1200 * 100%;
			}

			&:first-child {
				padding-left: 3rem;
				padding-right: 4rem;
			}

			&:last-child {
				padding-left: 4rem;
				padding-right: 3rem;
			}

			@include max-screen($large_tablet) {
				flex-direction: column;
				width: 100%;
				padding: 0 2rem;

				&:first-child,
				&:last-child {
					width: 100%;
					padding: 0 2rem;
				}

				&:not(:last-child) {
					max-width: 197/320*100%;
				}

				&:last-child {
					max-width: 113/320*100%;
					position: absolute;
					top: 50%;
					right: 0;
					padding-left: 0;
					transform: translateY(-50%);
				}

				&:nth-child(2) {
					padding-right: 0;
					flex-direction: row;
				}
			}
		}

		&-help {
			width: 2rem;
			height: 2rem;
			top: 0;
			right: 0;

			.help-content {
				bottom: 0;
				right: unset;
				top: unset;
				left: 3px;
			}

			&:hover {
				.help-content {
					bottom: 10px;
				}
			}

			@include max-screen($large_tablet) {
				width: 1.4rem;
				height: 1.4rem;
				top: -1.8rem;
				left: 10rem;
			}

			@include max-screen($large_mobile) {
				top: -1.6rem;
				left: 9.2rem;
			}
		}

		&-time {
			margin-left: 2.3rem;

			@include max-screen($large_tablet) {
				display: none;
			}
		}

		&-time,
		&-cancel {
			line-height: 1.6rem;
			color: rgba($color: $gray-light, $alpha: 0.5);
		}

		&-cancel {
			&_is-mobile {
				display: none;
				margin-left: 1rem;
			}

			@include max-screen($large_tablet) {
				display: none;

				&_is-mobile {
					display: block;
				}
			}
		}

		&-price {
			font-weight: 500;

			&_payout {
				font-weight: normal;
				color: $green;
			}
		}

		&-date {
			margin-bottom: 2px;
		}

		&-order {
			color: $green;

			&:hover {
				cursor: pointer;
			}

			@include max-screen($large_tablet) {
				display: block;
				max-width: 167px;
				margin-top: 3px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-name {
			@include max-screen($large_tablet) {
				margin-bottom: 3px;
			}
		}

		&-header {
			margin-top: 4.5rem;
			padding: 0 3rem;

			@include max-screen($large_tablet) {
				flex-direction: column;
				padding: 0 2rem;
			}
		}
	}

	&__form-table {
		display: flex;
		width: 865/1140 * 100%;
		margin-left: 3rem;

		@include max-screen($large_desktop) {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		input {
			padding: 0.9rem 5.2rem 0.8rem 4.5rem;
			background: #fff;
			border: 1px solid rgba(42, 45, 52, 0.15);

			&::placeholder {
				color: rgba($color: $gray-light, $alpha: 0.5);
			}

			@include max-screen($large_desktop) {
				width: 100%;
			}
		}

		&-date {
			&-wrapper {
				position: relative;
				display: flex;

				@include max-screen($large_desktop) {
					width: 100%;
					margin-top: 2rem;
					margin-bottom: 1rem;
				}

				svg {
					position: absolute;
					top: 1.1rem;
					left: 1.6rem;
					width: 14px;
					height: 16px;
					fill: transparent;
					stroke: #2a2d34;
				}
			}
		}

		&-export {
			margin-left: 3rem;
			text-decoration: underline;
			cursor: pointer;

			@include max-screen($large_desktop) {
				margin: 2rem 0;
			}

			@include max-screen($large_tablet) {
				display: none;
			}
		}

		&-search {
			margin-left: auto;
			margin-right: 0;
			padding-left: 4rem;
		}
	}
}
