.mainpage {
	padding: 2.8rem 0 7rem;

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 100%;
		max-width: 73.3rem;
		padding-top: 7.8rem;

		@include max-screen($small_tablet) {
			max-width: 100%;
			padding-top: 0;
		}
	}

	&__right {
		display: flex;
		justify-self: flex-end;
		width: 100%;
		max-width: 53rem;

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__header {
		margin-bottom: 2.4rem;
		font-weight: bold;
		font-size: 5.7rem;
		line-height: 6.7rem;
		color: #2a2d34;

		@include max-screen($small_tablet) {
			font-size: 4.2rem;
			line-height: 105%;
		}

		@include max-screen($small_mobile) {
			font-size: 3.6rem;
			line-height: 122%;
		}

		br {
			display: none;

			@include max-screen($small_tablet) {
				display: block;
			}
		}
	}

	&__subheader {
		margin-bottom: 4rem;
		font-size: 2rem;
		line-height: 140%;
		color: #7a7a7a;

		@include max-screen($large_mobile) {
			max-width: 38rem;

			br {
				display: none;
			}
		}
	}

	&__button {
		display: block;
		width: 100%;
		margin: 0 1.5rem;
		padding: 1.5rem;
		border-radius: 3px;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.1rem;
		text-align: center;

		@include max-screen($small_mobile) {
			max-width: 22.6rem;
			margin: 0 0 2rem 0;
		}

		&:first-child {
			max-width: 22.6rem;
			margin-left: 0;
			background: #606edb;
			color: #fff;
			border-color: #606edb;
		}

		&:last-child {
			max-width: 24.4rem;
			margin-right: 0;
			border: 1px solid rgba(96, 110, 219, 0.2);
			background-color: #fff;
			color: #606edb;

			@include max-screen($small_mobile) {
				max-width: 22.6rem;
				margin: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		&-wrapper {
			display: flex;

			@include max-screen($small_mobile) {
				flex-direction: column;
			}
		}
	}

	&__partners {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 8.5rem;
		overflow: hidden;

		@include max-screen($small_tablet) {
			margin-top: 10rem;
		}

		.icon {
			fill: #dddff2;
			height: 4.8rem;

			@include max-screen($large_mobile) {
				height: 3.2rem;
			}

			&-vkBlue {
				width: 4.8rem;

				@include max-screen($large_mobile) {
					width: 3.2rem;
				}
			}

			&-mailBlue {
				width: 11.6rem;

				@include max-screen($large_mobile) {
					width: 7.8rem;
				}
			}

			&-gosBlue {
				width: 13rem;

				@include max-screen($large_mobile) {
					width: 8rem;
				}
			}

			&-cloudBlue {
				width: 6.6rem;

				@include max-screen($small_mobile) {
					display: none;
				}
			}

			&-bitrixBlue {
				width: 12.3rem;

				@include max-screen($large_mobile) {
					display: none;
				}
			}

			&-decaBlue {
				width: 12rem;

				@include max-screen($small_tablet) {
					display: none;
				}
			}

			&-gisBlue {
				width: 8rem;

				@include max-screen($small_tablet) {
					display: none;
				}
			}
		}
	}

	&-become {
		&__h2 {
			font-weight: bold;
			font-size: 4.7rem;
			line-height: 130%;
			color: #2a2d34;

			@include max-screen($large_mobile) {
				font-size: 3.7rem;
			}

			@include max-screen($small_mobile) {
				margin-bottom: 3rem;
				font-size: 3.5rem;

				br {
					display: none;
				}
			}
		}

		&__outer {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 6rem;
			background-color: #ffe48a;

			@include max-screen($small_tablet) {
				padding: 6.9rem 2rem;
			}

			@include max-screen($large_mobile) {
				padding-top: 4rem;
				padding-bottom: 4rem;
			}

			@include max-screen($small_mobile) {
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 5rem;
			}

			.icon {
				position: absolute;
				bottom: -2.1rem;
				left: 44rem;
				width: 9.8rem;
				fill: #fff;

				@include max-screen($small_tablet) {
					display: none;
				}
			}
		}

		&__a {
			display: block;
			width: 100%;
			max-width: 22.6rem;
			margin-right: calc(24.4rem - 6rem);
			padding: 1.5rem 3rem;
			color: #fff;
			background-color: #ff608f;
			border-radius: 3px;
			text-align: center;

			@include max-screen($small_tablet) {
				margin-right: 0;
			}
		}

		&__wrap {
			@include max-screen($small_tablet) {
				padding: 0;
			}
		}
	}

	&-easy {
		padding: 8.5rem 0;

		@include max-screen($small_tablet) {
			padding-top: 5rem;
		}

		&__header {
			margin-bottom: 3rem;
			font-weight: bold;
			font-size: 4.7rem;
			line-height: 140%;
			color: #2a2d34;

			@include max-screen($small_tablet) {
				margin-bottom: 2.4rem;
			}

			@include max-screen($large_mobile) {
				font-size: 3.6rem;
				line-height: 122%;
			}
		}

		&__subheader {
			margin-bottom: 3rem;
			font-weight: normal;
			font-size: 2rem;
			line-height: 140%;
			color: #7a7a7a;
		}

		&__block {
			display: flex;
			width: 100%;
			margin-top: 3rem;

			@include max-screen($large_mobile) {
				flex-direction: column;
			}
		}

		&__step {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			width: 50%;

			@include max-screen($large_mobile) {
				width: 100%;
				margin-bottom: 4rem;
			}

			&:first-child {
				p {
					width: 100%;
					padding-left: 6.8rem;

					@include max-screen($small_tablet) {
						padding-right: 8.3rem;
					}

					@include max-screen($small_mobile) {
						padding-right: 0;
					}

					&::after {
						position: absolute;
						content: "";
						top: 0;
						right: 0;
						width: 2px;
						height: 11.2rem;
						background-color: #2a2d34;

						@include max-screen($large_mobile) {
							display: none;
						}
					}
				}
			}

			&:last-child {
				padding-left: 11.2rem;

				@include max-screen($small_tablet) {
					padding-left: 3.2rem;
				}

				@include max-screen($large_mobile) {
					padding-left: 0;
				}

				p {
					padding-left: 6.8rem;

					@include max-screen($small_tablet) {
						padding-right: 5rem;
					}

					@include max-screen($large_mobile) {
						padding-left: 7rem;
					}

					@include max-screen($small_mobile) {
						padding-right: 0;
					}
				}
			}

			&-descr {
				position: relative;
				margin: 1.8rem 0 0;
				padding-bottom: 1.2rem;
				font-weight: 500;
				font-size: 24px;
				line-height: 140%;
				color: #2a2d34;

				@include max-screen($small_tablet) {
					br {
						display: none;

						&.show-mobile {
							display: block;
						}
					}
				}
			}

			&-img {
				&.vertical {
					width: 6.8rem;
					height: 8.3rem;
				}

				&.horizontal {
					width: 11.4rem;
					height: 8.3rem;
				}
			}
		}
	}

	&-order {
		padding: 7rem 0;

		&__header {
			margin-bottom: 3rem;
			font-weight: bold;
			font-size: 4.7rem;
			line-height: 140%;
			color: #2a2d34;

			@include max-screen($small_tablet) {
				margin-bottom: 2.4rem;
			}

			@include max-screen($large_mobile) {
				font-size: 3.6rem;
				line-height: 122%;

				br {
					display: block;
				}
			}

			br {
				display: none;

				@include max-screen($large_mobile) {
					display: block;
				}
			}
		}

		&__subheader {
			margin-bottom: 3rem;
			font-weight: normal;
			font-size: 2rem;
			line-height: 140%;
			color: #7a7a7a;

			img {
				position: relative;
				top: 0.3rem;
				margin-left: 0.8rem;

				@include max-screen($large_tablet) {
					margin-left: 0.4rem;
				}
			}
		}

		&__card {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 30rem;
			height: 30rem;
			margin: 0 4.5rem 4.5rem 0;
			padding: 3rem;
			border: 1px solid #2a2d34;
			transform: all 0.3s ease;

			&:nth-child(4) {
				margin-right: 0;
			}

			@include max-screen($large_desktop) {
				&:nth-child(4) {
					margin-right: 4.5rem;
				}
			}

			@include max-screen($small_tablet) {
				width: 34.3rem;
				margin: 0 4rem 4rem 0;

				&:nth-child(2n) {
					margin-right: 0;
				}
			}

			@include max-screen($large_mobile) {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: auto;
				margin: 0;
				padding: 2rem;
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-left: 0;
				border-right: 0;
			}

			&.is-active {
				border-color: #606edb;

				@include max-screen($large_mobile) {
					border-color: rgba(0, 0, 0, 0.15);
				}

				.mainpage-order__card-header {
					color: #fff;

					@include max-screen($large_mobile) {
						color: #2a2d34;

						.icon {
							transform: rotate(270deg);
						}
					}
				}
				.mainpage-order__card-menu {
					z-index: 9;
					transform: scale(1);

					@include max-screen($large_mobile) {
						width: 360 / 580 * 100%;
						height: auto;
						transform: scale(1);
					}
				}
			}

			&-wrapper {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 3rem;

				&:after {
					content: "";
					flex: auto;
				}

				@include max-screen($large_mobile) {
					margin: 0 -2rem;
				}
			}

			&-header {
				position: relative;
				display: flex;
				font-weight: 500;
				font-size: 2rem;
				line-height: 2.3rem;
				color: #2a2d34;
				z-index: 10;

				@include max-screen($large_mobile) {
					order: 2;
					width: 360 / 580 * 100%;
					margin-left: 3rem;
				}

				.icon {
					display: none;
					width: 2rem;
					margin-left: auto;
					margin-right: 0;
					transform: rotate(90deg);
					fill: transparent;
					stroke: rgba(42, 45, 52, 0.5);
					transition: all 0.3s ease;

					@include max-screen($small_tablet) {
						display: block;
					}
				}
			}

			&-img {
				width: 15.6rem;
				height: 15.6rem;

				@include max-screen($large_mobile) {
					order: 1;
					width: 14rem;
					min-width: 14rem;
					height: 14rem;
				}
			}

			&-menu {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				padding: 8rem 3rem 3rem;
				background: #606edb;
				transition: all 0.3s ease;
				transform: scale(0);
				transform-origin: top center;
				z-index: -1;

				@include max-screen($large_mobile) {
					order: 3;
					position: relative;
					top: -6rem;
					width: 0;
					height: 0;
					margin: 0 0 -6rem 17rem;
					padding: 2rem 0;
					background-color: transparent;
					transform: scale(0);
					z-index: 0;
				}
			}

			&-link {
				display: block;
				font-size: 2rem;
				line-height: 150%;
				color: #fff;

				@include max-screen($large_mobile) {
					color: #2a2d34;
				}

				&_last {
					display: flex;
					flex-direction: row;
					margin-top: auto;
					margin-bottom: 0;
					align-items: center;

					@include max-screen($large_mobile) {
						margin-top: 2rem;

						color: rgba($color: #7a7a7a, $alpha: 1);
					}

					.icon {
						fill: #fff;
						stroke: #fff;
						width: 2rem;
						height: 0.7rem;
						margin-left: 1.6rem;

						@include max-screen($large_mobile) {
							fill: rgba($color: #7a7a7a, $alpha: 1);
							stroke: rgba($color: #7a7a7a, $alpha: 1);
						}
					}
				}
			}
		}
	}
}
