.messages-pre_notifications {
  @include min-screen($messages_large_mobile + 1) {
    display: none;
  }

  @include max-screen($messages_large_mobile) {
    .messages-pre__title {
      margin-bottom: 1.5rem;
      padding: 0 2rem;

      color: #2A2D34;
    }

    .messages-pre__author-name {
      margin-right: 1rem;

      font-weight: normal;
    }

    .messages-pre__date {
      margin-left: auto;
    }

    .messages-pre__prev-text {
      padding-right: 1rem;
    }

    .messages-pre__message_unread {
      .messages-pre__author-name {
        font-weight: 600;
      }

      .messages-pre__prev-text {
        color: #2A2D34;
        font-weight: 600;
      }
    }
  }
}
