.messages-dialogs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	@include max-screen($messages_large_mobile) {
		padding: 0 2rem;
	}

	@include min-screen($messages_large_mobile + 1) {
		min-width: 52.5rem;

		&__empty {
			margin-top: 1.4rem;
			padding: .6rem 4rem;
		}
	}

	&__empty {
		@include max-screen($messages_large_mobile) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__error {
		margin-right: .6rem;
		margin-bottom: 1rem;

		text-align: center;
	}

	&__back {
		display: block;
		width: 100%;
		border: none;

		color: $blue;
		text-decoration: underline;

		cursor: pointer;
		background-color: transparent;

		&:hover,
		&:focus {
			color: #7b8580;
		}

		&:active {
			color: #000000;
			text-decoration: none;
		}

		@include min-screen($messages_large_mobile + 1) {
			display: none;
		}
	}

	@include max-screen($messages_large_mobile) {
		display: none;
		width: 100%;

		transition-duration: .2s;

		transition-property: opacity;
		opacity: 0;
	}

	&__dialog-frame {
		flex-shrink: 1;
		width: calc(100% + 30px) !important;
		max-width: calc(100% + 30px) !important;
		height: 54vh;

		@include max-screen($large_mobile) {

		}
	}

	&__dialog-wrap {
		position: relative;

		overflow: hidden;
		flex-shrink: 0;
		height: 55vh;

		@include max-screen($messages_large_mobile) {
			height: 42vh;
			padding-top: 0;
		}
	}

	&__scrollbar {
		position: absolute;
		z-index: 1000;
		top: .45rem;
		right: 1.5rem;


		width: 3px;
		height: 98%;

		transition-duration: .2s;
		transition-property: opacity;

		@include max-screen($messages_large_mobile) {
			right: .4rem;
		}
	}

	&__handle {
		position: absolute;
		width: 3px;

		background-color: #2a2d34;
		opacity: .15;
	}

	&__dialog-list {
		margin-top: -.4rem;
	}

	&__send-wrap {
		flex-shrink: 0;
		margin-top: auto;
		margin-bottom: 2px;
	}

	&_online {
		.dialog__author-name_user {
			color: $blue;
		}
	}

	&__try-again {
		margin-bottom: 1rem;
		border: none;

		color: $blue;
		text-decoration: underline;

		cursor: pointer;
		background-color: transparent;

		&:hover,
		&:focus {
			color: #7b8580;
		}

		&:active {
			color: #000000;
			text-decoration: none;
		}
	}
}

.dropzone-drop-container {
	position: fixed;
	z-index: 3000;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 10rem 10rem;
	border: 1px dashed $blue;

	font-size: 2rem;
	line-height: 1.5;
	text-align: center;

	background-color: #F0F2F5;

}
