.modals{

	background-color: #fff;
	position: relative;
	margin: 30px auto;
	padding: 60px;
	max-width: 1000px;
	width: 90%;

	&_filter{
		padding: 0;
		max-width: 690px;
	}

	&_service{
		max-width: 702px;
		// min-height: 555px;
		padding: 7.9rem 8.2rem;
	}

	&_media{
		width: auto;
		max-width: 1280px;

		user-select: none;
		
		background: transparent;
		margin: 0 auto;
		padding: 0 4rem;
		// overflow: hidden;

		img.mfp-img{
			max-height: inherit!important;
			padding: 0;
		}

	}

	&_vertical{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&_right{
		.modals{
			&__close{
				left: auto;
				right: 1.7rem;
				top: 1.7rem;
				margin-top: 0;
			}
		}
	}

	&__check{
		width: 6.8rem;
		display: block;
		margin: auto;
		margin-bottom: 3rem;
		fill: #009688;
	}

	&__container{
		display: flex;
	    flex-direction: column;
		height: 100vh;
		padding: 3rem 0;

	}

	&__closefluid{
		position: absolute;
		z-index:8000;
		right: 0;
		top: 0;
		margin-top: 3rem;
		margin-right: 3rem;
		width: 3.2rem;
		stroke: #fff;
		stroke-width: 2;
		cursor: pointer;
	}

	&__inside{
		
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;	
		
	// 	.mfp-img{
	// 		max-height: 100%!important;
	// 	}	
	}

	&__part{
	    &_static{
    	    flex: 0 0 auto;
	    }

	    &_fluid{
	    	position: relative;
    	    flex: 1 0 auto;
    	    // overflow: hidden;
	    }
	}

	&__content{
		padding-top: .6rem;

		p{
			line-height: 2.2rem;
		}
	}

	&__arrow{
		margin-top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		width: 12%;
		z-index: 5000;
		top: 0;
		cursor: pointer;

		&_right{
			justify-content: flex-end;
		}

		&>*{
			margin-top: -7.2rem;
			position: relative;

			&.owl-right{
				right: 0;
				margin-right: -3.6rem;
			}
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 5000;
			height: 100%;
		}

		&_right{
			left: auto;
			right: 0;
		}
	}

	&__avatar{
		width: 4rem;
		border-radius: 50%;
	}

	&__author{
		padding-bottom: 3rem;
		display: flex;
		color: #fff;

		&-case{
			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin: 0 1rem;
				width: 1px;
				height: 1.1rem;
				background-color: #fff;
			}
		}

		&-cell{
			&_avatar{
				margin-right: 2.4rem;
				flex-shrink: 0;
				flex-grow: 0;

			}

			&_content{
			    min-width: 0;
				flex-shrink: 1;
				flex-grow: 1;
				max-width: 100%;
			}
		}
	}

	&__input{
		margin-bottom: 3rem;
	}

	&__button{
		width: 262px;
	}

	&__name{
		margin-bottom: 3rem;
	}

	&__close{
		// display: none;
		position: absolute;
		left: 3rem;
		top: 3.8rem;
		margin-top: -.7rem;
		cursor: pointer;

	}

	&__title{
		font-size: 1.8rem;
		line-height: 2.1rem;
		text-align: center;
	}

	&__top{
		border-bottom: 1px solid rgba(42, 45, 52, 0.15);
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__center{
		padding: 3rem 0;
		padding-left: 4.3rem;
		padding-right: 3rem;
	}

	&__inner{
		max-height: 54.9rem;
		padding-right: 4rem;

		.border-link{
			margin-bottom: 4rem;
		}
	}

	&__label{
		margin-bottom: 3.1rem;
	}

	&__bottom{
		height: 7.6rem;
		padding-right: 4rem;
		padding-left: 3rem;
		border-top: 1px solid rgba(42, 45, 52, 0.15);
	}

	&__list{
		padding-bottom: 9px;

		&-item{
			margin-bottom: 2.2rem;
			display: block;
			width: 323/574*100%;

			&:nth-child(2n){
				width: 251/574*100%;
			}
		}
	}

	&__box{
		&:not(:last-child){
			border-bottom: 1px solid rgba(42, 45, 52, 0.15);
			margin-bottom: 4rem;
		}
	}

	@include max-screen($large_tablet) {
		&_service{
			padding: 3.9rem 4.2rem;
		}
	}
	@include max-screen($large_mobile) {
		&_media{
			padding: 0 2rem;
		}
		&_service{
			padding: 4rem 2rem;
			padding-top: 5.8rem;
		}

		&_right{
			.modals__close{
				right: 0;
				top: 0;
			}
		}

		&__close{
			width: 3.3rem;
			height: 3.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(#C4C4C4, .3);

			svg{
				width: 1.3rem;
				fill: rgba(#2A2D34, .5);
			}
		}
		
		&__input{
			margin-bottom: 2rem;
		}

		&__check{
		    margin: auto auto 2rem;
	        width: 4.8rem;
		}

		&__button{
			width: 100%;
		}

		&__content{
			padding-top: 0;
			width: 85%;
			margin: auto;
		}

		&__name{
			margin-bottom: 2rem;
			text-align: center;

			&_small{
				font-size: 2rem;
				line-height: 2.3rem;
			}
		}

		&__closefluid{
			width: 2rem;
			margin-top: 2rem;
			margin-right: 2rem;
		}

		&__author{
			&-info{
				display: block;
			}
			&-link{
				font-size: 1.4rem;
			}
			&-case{
				margin: .25rem 0;
				font-size: 1.4rem;
				&:after{
					display: none;
				}
			}
		}

		&__arrow{
			width: 2rem;
			&>.owl-left{
				left: auto;
				margin-left: -2.1rem;
			}
			&>.owl-right{
				margin-right: -2.1rem;
			}
		}
	}
}

.mfp-figure{
	&:after{
		display: none;
	}
}

.mfp-title{
	padding-right: 0;
}

.mfp-bg{
	background-color: rgb(0, 0, 0);
	opacity: 0.5;	
	// opacity: 0.749;	
}

.mfp-bg{
	opacity: 0;
	transition: all .5s ease; 

	&.mfp-ready{
		opacity: 0.5;	
	}

	&.mfp-removing{
		opacity: 0;
	}
}
.mfp-title{
	color: inherit;
}
.css-modal-animate{
	// start state
	
	overflow: hidden;

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;
		transform: translateY(30px);
	}

	// animate in
	&.mfp-ready{
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{	
		.modals, .mfp-figure{
			opacity: 0;
		}
	}

}