.switcher{
	display: inline-block;
	cursor: pointer;
	user-select: none;

	&__input{
		display: none;

		&:checked{
			&+.switcher__text{
				&:before{
					background: #5FDF8B;
					border-color: $blue;
				}
				&:after{
					background-color: #fff;
					transform: translateX(6px);
					box-shadow: 0px 2px 4px rgba(46, 136, 77, 0.35);
				}
			}
		}
	}

	&__text{
		padding-right: 55px;
		position: relative;
		display: block;

		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			box-sizing: border-box;
			border-radius: 100px;
			width: 40px;
			transition: ease .25s;
			height: 20px;
			background-color: rgba(96, 110, 219, 0.2);
		}

		&:after{
			transition: ease .25s;
			content: '';
			display: block;
			position: absolute;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 2px 4px rgba(96, 110, 219, 0.35);
			top: -2px;
			right: 4px;
			transform: translateX(-18px);
		}

		@extend .p;
	}

	@include max-screen($large_mobile) {
		&__text{
			line-height: 2rem;
			padding-right: 5rem;
			font-size: 1.4rem;

			&:before{
				top: -1px;
			}
			&:after{
				top: 2px;
			}
		}
	}
}
