.bill {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;

  width: 71%;
  max-width: 90.2rem;
  min-height: 50rem;
  padding: 8rem;

  transform: translate(-50%, -50%) !important;

  background-color: #ffffff;
  box-shadow: 0 0 100px rgba(0, 0, 0, .2);

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;

    width: 4.8rem;
    height: 4.8rem;
    border: none;

    cursor: pointer;
    transition-duration: .2s;

    transition-property: background-color;
    background-color: rgba(196, 196, 196, 0.3);

    &:hover,
    &:focus {
      background-color: rgba(196, 196, 196, 0.5);
    }

    &:active {
      &::before,
      &::after {
        background-color: #838383;
      }
    }

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 2.1rem;
      height: .3rem;

      background-color: rgba(0, 0, 0, 0.7);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }

  .modals__close {
    display: none;
  }

  &__bill-title {
    display: block;
    margin-bottom: 3rem;
  }

  &__textarea-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: .9rem;
  }

  &__textarea-field-wrap {
    position: relative;

    &.error {
      .bill__textarea {
        border-color: #E83131;
      }

      .bill__error-message {
        display: block;
      }
    }
  }

  &__error-message {
    position: absolute;

    display: none;

    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #E83131;

    &_textarea {
      bottom: 0;
      left: 0;
    }

    &_price {
      bottom: -1.7rem;
      left: 0;

      white-space: nowrap;
    }
  }

  &__textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1.2rem 2.4rem 1rem;
    border: 1px solid rgba(42, 45, 52, 0.15);
    resize: none;

    &::-webkit-input-placeholder {
      color: rgba(42, 45, 52, 0.6);
    }

    &:-moz-placeholder {
      color: rgba(42, 45, 52, 0.6);
    }
  }

  &__chars-counter {
    display: flex;
    margin-left: auto;

    font-size: 1.4rem;
    line-height: 1.6rem;
    color: rgba(42, 45, 52, 0.6);
    text-align: right;
  }

  &__chars-max {
    margin-left: .5rem;
  }

  &__chars-current {
    margin-right: .3rem;
  }

  &__params-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  &__params-slogan {
    margin-bottom: 2rem;

    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__params-text {
    margin-right: 2.2rem;
  }

  &__params-content-wrap {
    display: flex;
    flex-direction: column;

    &_deadlines {
      margin-right: 4rem;
    }

    &_price {
      .bill__params-text {
        margin-right: 1.5rem;
      }
    }
  }

  &__deadlines {
    display: flex;
    align-items: center;
  }

  &__form-select {
    &_quantity {
      width: 8.5rem;
      margin-right: 1rem;
    }

    &_hours-days {
      width: 10.8rem;
    }

    .selectric {
      border-color: #2A2D34;
    }

    .selectric-open {
      border-color: rgba(42, 45, 52, 0.2);

      .selectric {
        border-color: rgba(42, 45, 52, 0.2);
      }
    }

    .label {
      color: rgba(42, 45, 52, 0.4)
    }
  }

  &__price-label {
    display: flex;
    align-items: center;
  }

  &__price-input-wrap {
    position: relative;

    &.error {
      .bill__price-input {
        border-color: #E83131;
      }

      .bill__error-message {
        display: block;
      }
    }
  }

  &__price-input {
    width: 12.9rem;
    padding: .8rem 3rem .7rem 1.5rem;
    border: 1px solid #2a2d34;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__price-char {
    position: absolute;
    top: .8rem;
    right: 1.5rem;
  }

  &__submit-btn {
    padding: 1.1rem 2.7rem 1rem;
    border: none;

    font-weight: 500;
    color: #ffffff;

    cursor: pointer;
    transition-duration: .2s;

    transition-property: background-color;

    background-color: #009688;

    &:hover,
    &:focus {
      background-color: #008678;
    }

    &:active {
      background-color: #5a5e62;
    }
  }
}

.css-scrollbar-bill {
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(#c4c4c4, 0.2);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #009688;
  }

  /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  // 	background: #555;
  // }
}

.selectric-scroll {
  @extend .css-scrollbar-bill;

  ul {
    margin-right: 0;
  }
}
